<div class="problem-list-container">
  <div class="problem-list-card">
    <mat-paginator [length]="totalProblems"
                   [pageSize]="3"
                   [pageSizeOptions]="[3]"
                   (page)="loadProblems()"
                   class="color-primary color-white">
    </mat-paginator>

    <div class="problem-list-scrollable-content">
      <div *ngIf="areProblemsLoading" class="problem-list-spinner-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <div *ngIf="!areProblemsLoading">
        <div *ngFor="let problem of lightsOutProblems" (click)="viewProblem(problem)">
          <app-problem-grid [problem]="problem" [isNew]="false" [showSolution]="false" [isEditable]="false"></app-problem-grid>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>
  </div>

  <div class="problem-list-card problem-list-center">
    <div *ngIf="!selectedLightsOutProblem">
      <h1>Select a problem to solve :)</h1>
    </div>

    <div *ngIf="selectedLightsOutProblem" class="problem-solver">
      <app-problem-grid [problem]="selectedLightsOutProblem" [isNew]="false" [showSolution]="showSolution"
                        [isEditable]="true"></app-problem-grid>
      <div class="problem-solver-actions">
        <button mat-flat-button (click)="toggleSolution()" class="color-primary">{{solutionButtonText}}</button>
        <button mat-flat-button (click)="resetProblem()" class="color-primary">Reset</button>
      </div>
    </div>
  </div>
</div>
